# SQL Practice Exercises

### Question ID: 0
- **Solved Time:** 25 seconds
- **Hints Used:** 0
---

In [ ]:
%%sql
SELECT first_name, last_name, gender FROM patients
where gender = 'M'

### Question ID: 1
- **Solved Time:** 21 seconds
- **Hints Used:** 0
---

In [ ]:
%%sql
SELECT first_name, last_name FROM patients
where allergies is null

### Question ID: 2
- **Solved Time:** 27 seconds
- **Hints Used:** 0
---

In [ ]:
%%sql
SELECT first_name FROM patients
where first_name like 'c%'

### Question ID: 3
- **Solved Time:** 27 seconds
- **Hints Used:** 0
---

In [ ]:
%%sql
SELECT first_name, last_name FROM patients
where weight between 100 and 120

### Question ID: 4
- **Solved Time:** 203 seconds
- **Hints Used:** 0
---

In [ ]:
%%sql
update patients
set allergies = 'NKA' where allergies is null

### Question ID: 5
- **Solved Time:** 61 seconds
- **Hints Used:** 0
---

In [ ]:
%%sql
select concat(first_name, ' ', last_name) as full_name from patients

### Question ID: 6
- **Solved Time:** 84 seconds
- **Hints Used:** 0
---

In [ ]:
%%sql
select first_name, last_name, province_name from patients
join province_names on patients.province_id = province_names.province_id

### Question ID: 23
- **Solved Time:** 157 seconds
- **Hints Used:** 0
---

In [ ]:
%%sql
select count(*) as total_patients from patients
where year(birth_date) = 2010

### Question ID: 33
- **Solved Time:** 28 seconds
- **Hints Used:** 0
---

In [ ]:
%%sql
select first_name, last_name, max(height) from patients

### Question ID: 34
- **Solved Time:** 42 seconds
- **Hints Used:** 0
---

In [ ]:
%%sql
select * from patients where patient_id in (1, 45, 534, 879, 1000)

### Question ID: 35
- **Solved Time:** 21 seconds
- **Hints Used:** 0
---

In [ ]:
%%sql
select count(*) as total_admissions from admissions

### Question ID: 41
- **Solved Time:** 28 seconds
- **Hints Used:** 0
---

In [ ]:
%%sql
select * from admissions where admission_date = discharge_date

### Question ID: 42
- **Solved Time:** 40 seconds
- **Hints Used:** 0
---

In [ ]:
%%sql
select patient_id, count(*) as total_admissions from admissions where patient_id = 579

### Question ID: 32
- **Solved Time:** 49 seconds
- **Hints Used:** 0
---

In [ ]:
%%sql
select distinct city from patients where province_id = 'NS'

### Question ID: 45
- **Solved Time:** 33 seconds
- **Hints Used:** 0
---

In [ ]:
%%sql
select first_name, last_name, birth_date from patients where height > 160 and weight > 70

### Question ID: 46
- **Solved Time:** 37 seconds
- **Hints Used:** 0
---

In [ ]:
%%sql
select first_name, last_name, allergies from patients where allergies is not null and city = 'Hamilton'

### Question ID: 7
- **Solved Time:** 40 seconds
- **Hints Used:** 0
---

In [ ]:
%%sql
select distinct year(birth_date) from patients order by year(birth_date) asc

### Question ID: 8
- **Solved Time:** 47 seconds
- **Hints Used:** 0
---

In [ ]:
%%sql
select distinct first_name from patients
group by first_name
having count(*) = 1

### Question ID: 9
- **Solved Time:** 114 seconds
- **Hints Used:** 0
---

In [ ]:
%%sql
select patient_id, first_name from patients where first_name like 's%s' and len(first_name) >= 6

### Question ID: 10
- **Solved Time:** 94 seconds
- **Hints Used:** 0
---

In [ ]:
%%sql
select patients.patient_id, first_name, last_name from patients
join admissions on patients.patient_id = admissions.patient_id
where diagnosis = 'Dementia'

### Question ID: 11
- **Solved Time:** 48 seconds
- **Hints Used:** 0
---

In [ ]:
%%sql
select first_name from patients
order by len(first_name), first_name

### Question ID: 12
- **Solved Time:** 395 seconds
- **Hints Used:** 1
---

In [ ]:
%%sql
select (select count(*) as male_count from patients where gender = 'M'), (select count(*) as female_count from patients where gender = 'F')

### Question ID: 13
- **Solved Time:** 122 seconds
- **Hints Used:** 0
---

In [ ]:
%%sql
select first_name, last_name, allergies from patients 
where allergies in ('Penicillin', 'Morphine')
order by allergies, first_name, last_name

### Question ID: 14
- **Solved Time:** 165 seconds
- **Hints Used:** 2
---

In [ ]:
%%sql
select patient_id, diagnosis from admissions
group by patient_id, diagnosis
having count(patient_id) > 1

### Question ID: 15
- **Solved Time:** 71 seconds
- **Hints Used:** 0
---

In [ ]:
%%sql
select city, count(*) as num_patients from patients
group by city
order by num_patients desc, city

### Question ID: 16
- **Solved Time:** 267 seconds
- **Hints Used:** 2
---

In [ ]:
%%sql
select first_name, last_name, 'Patient' as role from patients
union all 
select first_name, last_name, 'Doctor' as role from doctors

### Question ID: 22
- **Solved Time:** 89 seconds
- **Hints Used:** 0
---

In [ ]:
%%sql
select allergies, count(*) as total_diagnosis from patients
where allergies is not null
group by allergies
order by total_diagnosis desc

### Question ID: 27
- **Solved Time:** 99 seconds
- **Hints Used:** 0
---

In [ ]:
%%sql
select first_name, last_name, birth_date from patients
where year(birth_date) between 1970 and 1979
order by birth_date

### Question ID: 28
- **Solved Time:** 322 seconds
- **Hints Used:** 0
---

In [ ]:
%%sql
select concat(upper(last_name),',', lower(first_name)) as new_name from patients
order by first_name desc

### Question ID: 30
- **Solved Time:** 112 seconds
- **Hints Used:** 0
---

In [ ]:
%%sql
select province_id, sum(height) as sum_height from patients
group by province_id
having sum(height) >= 7000

### Question ID: 31
- **Solved Time:** 79 seconds
- **Hints Used:** 0
---

In [ ]:
%%sql
select max(weight)-min(weight) as weight_delta from patients
where last_name = 'Maroni'

### Question ID: 37
- **Solved Time:** 163 seconds
- **Hints Used:** 0
---

In [ ]:
%%sql
select day(admission_date) as day_number, count(*) as nb_admissions from admissions
group by day(admission_date)
order by nb_admissions desc

### Question ID: 38
- **Solved Time:** 92 seconds
- **Hints Used:** 0
---

In [ ]:
%%sql
select * from admissions
where patient_id = '542'
group by patient_id
having max(admission_date)

### Question ID: 40
- **Solved Time:** 542 seconds
- **Hints Used:** 2
---

In [ ]:
%%sql
select patient_id, attending_doctor_id, diagnosis from admissions
where patient_id % 2 != 0 and attending_doctor_id in (1, 5, 19)
or attending_doctor_id like '%2%' and len(patient_id) = 3

### Question ID: 47
- **Solved Time:** 413 seconds
- **Hints Used:** 1
---

In [ ]:
%%sql
select first_name, last_name, count(*) as admissions_total from doctors
join admissions on doctors.doctor_id = admissions.attending_doctor_id
group by first_name

### Question ID: 48
- **Solved Time:** 308 seconds
- **Hints Used:** 0
---

In [ ]:
%%sql
select doctor_id, concat(first_name, ' ', last_name) as full_name, max(admission_date) as last_date, min(admission_date) as first_date from doctors
join admissions on doctors.doctor_id = admissions.attending_doctor_id
group by doctor_id

### Question ID: 50
- **Solved Time:** 208 seconds
- **Hints Used:** 0
---

In [ ]:
%%sql
select province_name, count(*) as patient_count from province_names
join patients on province_names.province_id = patients.province_id
group by province_name
order by patient_count desc

### Question ID: 51
- **Solved Time:** 231 seconds
- **Hints Used:** 0
---

In [ ]:
%%sql
select concat(patients.first_name,' ',patients.last_name) as patient_name, diagnosis, concat(doctors.first_name,' ',doctors.last_name) from patients
join admissions on patients.patient_id = admissions.patient_id
join doctors on admissions.attending_doctor_id = doctors.doctor_id

### Question ID: 54
- **Solved Time:** 98 seconds
- **Hints Used:** 0
---

In [ ]:
%%sql
select first_name, last_name, count(*) as nb_duplicates from patients
group by first_name, last_name
having count(*) > 1

### Question ID: 55
- **Solved Time:** 644 seconds
- **Hints Used:** 1
---

In [ ]:
%%sql
select concat(first_name,' ',last_name) as full_name, round(height/30.48, 1) as height, round(weight*2.205, 0) as weight,
birth_date, case
when gender = 'M' then 'male'
else 'female'
end as gender
from patients

### Question ID: 70
- **Solved Time:** 1531 seconds
- **Hints Used:** 2
---

In [ ]:
%%sql
SELECT patients.patient_id, first_name, last_name from patients
where patients.patient_id not in (select admissions.patient_id from admissions)

### Question ID: 17
- **Solved Time:** 802 seconds
- **Hints Used:** 0
---

In [ ]:
%%sql
SELECT count(*) as patient_in_group, floor(weight/10) * 10 as weight_group from patients
group by weight_group
order by weight desc

### Question ID: 18
- **Solved Time:** 529 seconds
- **Hints Used:** 0
---

In [ ]:
%%sql
SELECT patient_id, weight, height, case
when weight/power(height/100.0, 2) >= 30 then '1'
else '0'
end as isObese
from patients

### Question ID: 19
- **Solved Time:** 175 seconds
- **Hints Used:** 0
---

In [ ]:
%%sql
select patients.patient_id, patients.first_name, patients.last_name, specialty from patients
join admissions on patients.patient_id = admissions.patient_id
join doctors on admissions.attending_doctor_id = doctors.doctor_id
where diagnosis = 'Epilepsy' and doctors.first_name = 'Lisa'

### Question ID: 74
- **Solved Time:** 646 seconds
- **Hints Used:** 0
---

In [ ]:
%%sql
SELECT max(nb_visits), min(nb_visits), round(avg (nb_visits), 2) from 
(select admission_date, count(*) as nb_visits from admissions
 group by admission_date)

### Question ID: 20
- **Solved Time:** 411 seconds
- **Hints Used:** 0
---

In [ ]:
%%sql
SELECT distinct patients.patient_id, concat(patients.patient_id, len(last_name), year(birth_date)) from patients
inner join admissions on patients.patient_id = admissions.patient_id

### Question ID: 24
- **Solved Time:** 450 seconds
- **Hints Used:** 2
---

In [ ]:
%%sql
SELECT province_name from province_names
join patients on province_names.province_id = patients.province_id
group by province_name
having COUNT( CASE WHEN gender = 'M' THEN 1 END) > COUNT( CASE WHEN gender = 'F' THEN 1 END);

### Question ID: 25
- **Solved Time:** 191 seconds
- **Hints Used:** 0
---

In [ ]:
%%sql
SELECT * from patients
where first_name like'%__r%' and gender = 'F' and month(birth_date) in (02,05,12)
and weight between 60 and 80
and patient_id % 2 != 0
and city = 'Kingston'

### Question ID: 26
- **Solved Time:** 858 seconds
- **Hints Used:** 2
---

In [ ]:
%%sql
SELECT CONCAT(ROUND(100.0 * COUNT(CASE WHEN gender = 'M' THEN 1 END) / COUNT(*), 2), '%') AS Percent_Male
FROM patients;

### Question ID: 44
- **Solved Time:** 15929 seconds
- **Hints Used:** 2
---

In [ ]:
%%sql
select admission_date, count(*) as admission_day, Count(*) - lag(count(*)) over (order by admission_date)
from admissions
group by admission_date

### Question ID: 53
- **Solved Time:** 310 seconds
- **Hints Used:** 1
---

In [ ]:
%%sql
select province_name from province_names
ORDER BY CASE 
    WHEN province_name = 'Ontario' THEN 0      ELSE 1                                           END,
  province_name ASC

### Question ID: 69
- **Solved Time:** 428 seconds
- **Hints Used:** 0
---

In [ ]:
%%sql
select doctor_id, concat(first_name,' ',last_name) as doctor_name, specialty, year(admission_date), count(*) as total_admissions
from doctors
join admissions on doctors.doctor_id = admissions.attending_doctor_id
group by doctor_id, year(admission_date)

### Question ID: 21
- **Solved Time:** 662 seconds
- **Hints Used:** 0
---

In [ ]:
%%sql
SELECT (case when patient_id % 2 = 0 then 'Yes'
else 'No' end) as has_insurance, sum(case when patient_id % 2 = 0 then 10
else 50 
end) as cost_after
from admissions
group by has_insurance